<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head">
    <nav th:replace="fragments :: navigation"></nav>
</head>

<body class="container">

<h1>Add Your Travels</h1>

<!--<p th:text="${errorMsg}" style="color:red"></p>-->

<form method="post">

    <div class="form-group">
        <label>Name
            <input th:field="${places.name}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>Location
            <input th:field="${places.location}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>Date(s)
            <input th:field="${places.date}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>Note(s)
            <input th:field="${places.note}" class="form-control">
        </label>
    </div>

<!--    <div class="form-group">-->
<!--        <label>Type-->
<!--            <select th:field="${event.category}">-->
<!--                <option th:each="category : ${categories}"-->
<!--                        th:value=" ${category}"-->
<!--                        th:text="${category.name} "-->
<!--                ></option>-->
<!--            </select>-->
<!--        </label>-->
<!--    </div>-->
    <div class="form-group">
        <input type="submit" value="Create Memory" class="btn btn-success">
    </div>
</form>

</body>
</html>